h1 {
  color: green;
}

body {
  text-align: center;
  margin: auto;
}
svg{width:24vw;height:24vw;}
html,body{padding: 0;margin: 0;}

body{border:1vw solid black;background-color:yellow; }
.clear{
  clear: both;}

.flag-svg {
  width: 24vw;
  float: left;
}

@media screen and (max-width: 992px) {
  .flag-svg, svg{
    width: 48vw;
    height: 48vw;

  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .flag-svg,svg {
    width: 96vw;
    height: 96vw;

  }
}